<!-- add a style to the button in the footer.ejs file -->
<footer class="footer">
  <div class="footercontainer">
    <span class="text-muted">© 2024 InfoVacanță</span>
    <a class="btn btn-dark " href="/login" role="button">Ceva</a>
    <a class="btn btn-dark " href="/login" role="button">Altceva</a>
  </div>

</body>
</html>
