<%- include('partials/header') %>
<link rel="stylesheet" href="css/contact.css">
   
<div class="contact-container jumbotron centered">
<div class="containerOnHome">
    <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
        <div class="contact-left-title">
            <h2>Contactați-ne!</h2>
            <hr>
        </div>
        <input type="hidden" name="access_key" value="a112292d-57a1-44ea-95a2-fbe5c325ef20">
        <input type="text" name="name" placeholder="Numele Dumneavoastră" class="contact-inputs" required>
        <input type="text" name="email" placeholder="Emailul Dumneavoastră" class="contact-inputs" required>
        <textarea name="message" placeholder="Mesajul Dumneavoastră" class="contact-inputs" required></textarea>
        <button type="submit" class="contact-btn">Trimiteți <img src="/images/arrow_icon.png" alt="arrow image"></button>
    </form>
    </div>

    <div class="contact-right">
<img src="/images/right_img.png" alt="imagine formular">
<div class="contact-container-bot">
    <form action="/main" method="get">
  <button id="contact-back-btn" ><img src="/images/arrow_icon.png" alt="arrow image"> Înapoi</button>
</form>
</div>    
</div>
</div>
<%- include('partials/footer') %>