<%- include('partials/header') %>
<link rel="stylesheet" href="css/destinatii.css">

<div class="container jumbotron centered">
    <h1>Stațiuni</h1>
    <div class="row">
        <% statiuni.forEach(statiune => { %>
        <div class="col-sm-4" id="cardDestinatii">
            <div class="card">
                <img src="images/infovacanta_logo.png" class="card-img-top" alt="Mamaia">
                <div class="card-body">
                    <h5 class="card-title
                    "><%=statiune.destinationname%></h5>
                    <small><%=statiune.destinationcategory%></small>
                    <p class="card-text">Mamaia este cea mai cunoscută stațiune de pe litoralul românesc. Este situată în nordul Constanței, la 4 km de centrul orașului. Mamaia este o stațiune modernă, cu hoteluri și restaurante de lux, cluburi și discoteci, plaje cu nisip fin și multe alte facilități.</p>
                    <a href="https://www.mamaia.ro/" class="btn btn-primary">Mai multe detalii</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<%- include('partials/footer') %>