
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.jumbotron {
  background: linear-gradient(#ffdad5, #fff7f9);
  text-align: center;
  padding: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
}
/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
li,
form,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Outfit";
}

body {
  background: linear-gradient(#ffdad5, #fff7f9);
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.containerOnHome {
  max-width: 800px;
  margin: 50px auto;
  background-color: #E9FBFE;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #444;
}
footer {
  text-align: left;
  margin-top: 20px;
  color: #888;

}
h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #555;
}

p,
input,
textarea {
  margin-bottom: 20px;
}

small {
  display: block;
  margin-bottom: 20px;
  color: #888;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
}

input:focus,
textarea:focus {
  border-color: #007bff;
}

a,
button {
  text-decoration: none;
  /* background-color: #007bff; */
  color: #fff;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.full-width {
  display: block;
  text-align: center;
  width: 100%;
}
a.full-width {
  display: block;
  text-align: center;
  width: 100%;
}
/* a,
button:hover {
  background-color: #0056b3;
} */

ul {
  list-style-type: none;
}

li {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

a.edit {
  background-color: #007bff;
  /* margin-right: 10px; */
}

a.delete {
  background-color: #e74c3c;
}

a.delete:hover {
  background-color: #c0392b;
}

a.comment {
  background-color: #2ecc71;
}

a.comment:hover {
  background-color: #27ae60;
}

#newPostBtn {
  margin: 20px 0;
  background-color: #2ecc71;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#logoutBtn {
  margin: 20px 0;
  background-color: #d0690f;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#newPostBtn:hover {
  background-color: #27ae60;
}

#publicaBtn {
  margin: 20px 0;
  background-color: #91e0dc;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#publicaBtn:hover {
  background-color: #639996;
}

#cancelBtn {
  margin: 20px 0;
  background-color: #e74c3c;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#cancelBtn:hover {
  background-color: #912c21;
}

.contact-container{
 height: 100vh;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2{
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea{
height: 140px;
padding-top: 15px;
border-radius: 20px;
}

.contact-inputs:focus{
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder{
  font-weight: 500;
  color: #6d537a;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30 px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}

.contact-left button:hover{
  background: linear-gradient(270deg, #fa6d86, #ff994f);
}

.contact-left button img{
  height: 15px;
}

.contact-right img{
  width: 500px;
}

@media (max-width:800px) {
  .contact-inputs{
    width: 80vw;
  }
  .contact-right img{
    display: none;
  }
}

#contact-back-btn{
  display: flex;
  align-items: center;
  padding: 15px 30 px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
}

#contact-back-btn:hover{
  background: linear-gradient(270deg, #fa6d86, #ff994f);

}